<header>
<body>
  <img src="../assets/picture.jpg" alt="Profile image">
    <div class="intro">
    <h1>Vinoth K Ravichelvam</h1>
    <h4>705-991-0534</h4><h4>vinothkannan2605@gmail.com</h4><a routerLink="home" >LinkedIN Profile</a>
    <button (click)="linkedin()">Share the profile</button></div>

    <router-outlet></router-outlet>
<div class="context">  
<div class="career">
    <h3>Career Experience</h3>
    <p>Self-directed professional with 5+ years of experience as IT Specialist and Senior Systems Engineer in software development domain with extensive experience in project development, deliveries and maintenance using Java, Spring framework, Shell scripting, 
        Automation and configuration management.
        <ul>
        <li>Expertise in Back end Java application development  using Spring framework.</li>
        <li>Experience in working on project which requires RESTful API design and development.</li>
        <li>Hands on experience in JDBC, JPA Hibernate.</li>
        <li>Experienced in Agile and Waterfall software development models.</li>
        <li>Post-grad certificate on Project Management methodologies.</li></ul>
      
</div>
<div id="technical">
    <h3>Technical Skills</h3>
    <p>
        <ul>
            <li>JAVA</li> <li>Spring</li> <li>Angular</li> <li>My SQL</li>
        </ul>
    
</div>
<div id="experience">
    <h3>Professional Experience</h3>
    <h3>Pragra</h3>
    <p>Java Developer</p>
    <ul>
        <li>Designed/developed APIs that integrates with clients resources to retrieve data and store them in the inventory to reduce transactions and provide flexibility to the customers in accessing their records.</li>
        <li>Implemented PMO skills throughout the all the project lifecycles thereby ensuring the successful closure of the project.</li>
        <li>Preparing and executing exceptional stakeholder communication plan to provide  the client with continuous update on the produce development and signing off the UAT.</li>
    </ul>
    <br>
    <h3>Infosys</h3>
    <p>Senior Systems Engineer</p>
    <ul>
        <li>Preparing and Proposing the Impact Assessment to the clients to help them visualize the current infrastructure and risks asso-ciated with it thereby  increasing the project approval rate by 90%.</li>
        <li>Ensuring SLA is meet on everyday operations; auditing and transferring issues into investigations to ensure root cause analysis.</li>
        <li>Implementation of strict thresholds in project variances to make sure that project in delivered on agreed terms & conditions.</li>
    </ul>
</div></div>
</body></header>




  

