@import "../styles.css";
body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width:fit-content;
    border-style:groove;
    border-color: black;

}
button{
    color: black;
    background-color: aqua;
    size: 12px;
}

img{
    
    width: 100px;
    float: left;
    border-style: dotted;
}
.intro {
    float: left;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 22px;
    color: black;
 

}
.details{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    color: black;

}

.context {
    margin-top: 330px;
}